header {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 20px;

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    label {
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 15px;
    }
}